@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


[data-theme='red'] {
  --primary-color: #C8102E;
  --secondary-color: #0033A0;

  --lightPrimary-color: #fcebeb;
  --lightSecondary-color: #ebf7fc;
  
  --secondPrimary-color: #f44336;
  --secondSecondary-color: #03a9f4;


  --text-color: ;
  --background-color: ;

  --black-color: #211103;
  --lightGray-color: #BFB8AD;
  --gray-color: #211103;
  --brown-color: #EADEDA;
  --white-color: #FFFCFF;
}

[data-theme='blue'] {
  --primary-color: #0033A0;
  --secondary-color: #C8102E;

  --lightPrimary-color: #ebf7fc;
  --lightSecondary-color: #fcebeb;

  --secondPrimary-color: #03a9f4;
  --secondSecondary-color: #f44336;
  
  --text-color: ;
  --background-color: ;

  --black-color: #211103;
  --lightGray-color: #BFB8AD;
  --gray-color: #211103;
  --brown-color: #EADEDA;
  --white-color: #FFFCFF;
}


:root {
  --font-base: 'DM Sans', sans-serif;

  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
