@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


[data-theme='blue'] {
  --primary-color: #C8102E;
  --secondary-color: #0033A0;
  --black-color: #211103;
  --lightGray-color: #BFB8AD;
  --gray-color: #211103;
  --brown-color: #EADEDA;
  --white-color: #FFFCFF;
}

[data-theme='red'] {
  --primary-color: #0033A0;
  --secondary-color: #C8102E;
  --black-color: #211103;
  --lightGray-color: #BFB8AD;
  --gray-color: #211103;
  --brown-color: #EADEDA;
  --white-color: #FFFCFF;
}

:root {
  --font-base: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}